
$width: 10px;
$axis-color: #706565;
$axis-bord: 1px;
$axis-type: solid;

$scale-color: #a59e9e;
$scale-bord: 1px;
$scale-type: solid;

$li-height: 15px;

.ng-ta-content {
    position: absolute;
    width: $width;
    z-index: 10;
    .ng-ta-axis {
        border-left: $axis-bord $axis-type $axis-color;
        .ng-ta-scale{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            white-space: pre-wrap;
            li {
                position: relative;
                white-space: nowrap;
                list-style: none;
                margin: 0;
                padding: 0;
                display: block;
                border-top: $scale-bord $scale-type $scale-color;
                width: 51%;
                height: $li-height;
                span {
                    position: relative;
                    bottom: 0.8em;
                    left: 120%;
                    color: #443838;
                    font-size: 5px;
                }
            }
            li.half {
                width: 78%;
            }
            li.half.hour {
                border-color: $axis-color;
                width: 100%!important;
            }
        }
    }
}

.ng-ta-content.right {
    right: 0;
    .ng-ta-axis {
        text-align: right;
        border-right: $axis-bord $axis-type $axis-color;
        .ng-ta-scale {
        }
    }
}