<ion-header>
    <ion-navbar>
      <ion-title>计划表</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
      <ion-list-header *ngIf="(scheduleIds | async).length > 0" color="danger">
        待完成
      </ion-list-header>
        <a ion-item *ngIf="(scheduleIds | async).length === 0">还没有新的计划噢</a>
        <a ion-item *ngFor="let item of (schedules | async)" (click)="openModal({item: item})">
          <span *ngIf="!item.component">{{item.name}}</span>
        </a>
    </ion-list>
  
    <ion-fab right bottom>
        <button ion-fab  mini color="primary" (click)="openModal({id: '0'})">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
  </ion-content>
  