
<ion-header>
    <ion-toolbar>
      <ion-title >
        新建任务
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">取消</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-list>
        <ion-item>
          <ion-label floating>名称</ion-label>
          <ion-input  [(ngModel)]="schedule.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>描述</ion-label>
          <ion-input  [(ngModel)]="schedule.detail"></ion-input>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <ion-label>开始日期</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="schedule.startTime"></ion-datetime>
        </ion-item>
    
    
        <ion-item>
          <ion-label>开始时间</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="schedule.startTime"></ion-datetime>
        </ion-item>
    
        <ion-item>
          <ion-label>结束日期</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="schedule.endTime"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <ion-label>结束时间</ion-label>
            <ion-datetime displayFormat="h:mm A" [(ngModel)]="schedule.endTime"></ion-datetime>
          </ion-item>
      </ion-list>
      
      <ion-item *ngIf="id !== '0'">
        <button ion-button (click)="save()">保存</button>
        <button ion-button color="danger" (click)="del()">删除</button>
      </ion-item>
      <ion-item *ngIf="id === '0'">
        <button ion-button (click)="add()">新增</button>
      </ion-item>
    </ion-content>
  